:root {
  --button-padding: 0.75em 1em;
  --button-color: white;
  --button-border-color: unset;
  --button-background-color: black;
  --button-border-width: 2px;
  --button-text-align: center;
  --button-border-style: solid; }

.button, content button, content input[type=button], content input[type=submit], content input[type=reset] {
  --padding: var(--button-padding);
  --color: var(--button-color);
  --border-color: var(--button-border-color);
  --background-color: var(--button-background-color);
  --border-width: var(--button-border-width);
  --text-align: var(--button-text-align);
  --border-style: var(--button-border-style);
  padding: var(--padding);
  color: var(--color);
  background-color: var(--background-color);
  appearance: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  box-sizing: border-box;
  transition: all 0.3s;
  border-width: var(--border-width);
  border-color: var(--border-color, --background-color);
  border-style: var(--border-style);
  text-align: var(--text-align); }
  .button, content button, content input[type=button], content input[type=submit], content input[type=reset] {
    --color: white;
    --border-color: black;
    --background-color: black; }
    .button:hover, content button:hover, content input[type=button]:hover, content input[type=submit]:hover, content input[type=reset]:hover {
      --border-color: #262626;
      --background-color: #262626; }
    .button.border, content button.border, content input[type=button].border, content input[type=submit].border, content input[type=reset].border {
      --border-color: #262626; }
    .button.transparent, content button.transparent, content input[type=button].transparent, content input[type=submit].transparent, content input[type=reset].transparent {
      --color: black; }
  .button.cta, content button.cta, content input[type=button].cta, content input[type=submit].cta, content input[type=reset].cta {
    --color: white;
    --border-color: hotpink;
    --background-color: hotpink; }
    .button.cta:hover, content button.cta:hover, content input[type=button].cta:hover, content input[type=submit].cta:hover, content input[type=reset].cta:hover {
      --border-color: #ff1d8e;
      --background-color: #ff1d8e; }
    .button.cta.border, content button.cta.border, content input[type=button].cta.border, content input[type=submit].cta.border, content input[type=reset].cta.border {
      --border-color: #ff1d8e; }
    .button.cta.transparent, content button.cta.transparent, content input[type=button].cta.transparent, content input[type=submit].cta.transparent, content input[type=reset].cta.transparent {
      --color: black; }
  .button.transparent, content button.transparent, content input[type=button].transparent, content input[type=submit].transparent, content input[type=reset].transparent {
    --background-color: transparent; }
  .button.fluid, content button.fluid, content input[type=button].fluid, content input[type=submit].fluid, content input[type=reset].fluid {
    width: 100%; }
