.content h6 {
  font-size: var(--h6-font-size, 1em);
  font-weight: var(--h6-font-weight, bold);
  text-decoration: var(--h6-text-decoration, none);
  line-height: var(--h6-line-height, 1.45);
  text-transform: var(--h6-text-transform, none); }
  .content h6 + p {
    margin-top: var(--h6-paragraph-margin, 0.5em); }

.content h5 {
  font-size: var(--h5-font-size, 1.33333em);
  font-weight: var(--h5-font-weight, bold);
  text-decoration: var(--h5-text-decoration, none);
  line-height: var(--h5-line-height, 1.45);
  text-transform: var(--h5-text-transform, none); }
  .content h5 + p {
    margin-top: var(--h5-paragraph-margin, 0.5em); }

.content h4 {
  font-size: var(--h4-font-size, 1.77778em);
  font-weight: var(--h4-font-weight, bold);
  text-decoration: var(--h4-text-decoration, none);
  line-height: var(--h4-line-height, 1.45);
  text-transform: var(--h4-text-transform, none); }
  .content h4 + p {
    margin-top: var(--h4-paragraph-margin, 0.5em); }

.content h3 {
  font-size: var(--h3-font-size, 2.37037em);
  font-weight: var(--h3-font-weight, bold);
  text-decoration: var(--h3-text-decoration, none);
  line-height: var(--h3-line-height, 1.45);
  text-transform: var(--h3-text-transform, none); }
  .content h3 + p {
    margin-top: var(--h3-paragraph-margin, 0.5em); }

.content h2 {
  font-size: var(--h2-font-size, 3.16049em);
  font-weight: var(--h2-font-weight, bold);
  text-decoration: var(--h2-text-decoration, none);
  line-height: var(--h2-line-height, 1.45);
  text-transform: var(--h2-text-transform, none); }
  .content h2 + p {
    margin-top: var(--h2-paragraph-margin, 0.5em); }

.content h1 {
  font-size: var(--h1-font-size, 4.21399em);
  font-weight: var(--h1-font-weight, bold);
  text-decoration: var(--h1-text-decoration, none);
  line-height: var(--h1-line-height, 1.45);
  text-transform: var(--h1-text-transform, none); }
  .content h1 + p {
    margin-top: var(--h1-paragraph-margin, 0.5em); }

.content a {
  --color: hotpink;
  --hover-color: #ff1d8e;
  --text-decoration: none;
  --hover-text-decoration: underline;
  color: var(--color);
  text-decoration: var(--text-decoration);
  transition: color 0.3s;
  cursor: pointer; }
  .content a:hover {
    color: var(--hover-color);
    text-decoration: var(--hover-text-decoration); }

.content p {
  line-height: 1.2; }
  .content p + p {
    margin-top: 0.5em; }
  .content p:first-of-type(p) {
    margin-top: 0; }
  .content p:last-of-type(p) {
    margin-bottom: 0; }

.content .excerpt {
  font-size: 125%; }

.content img {
  max-width: 100%; }
