/**
 * @todo: Remove debug css
 * @todo: Use .grid > * or not?
 * @todo: Default grid: Automatically lower cols in mobile & tablet?
 */
:root {
  --grid-gutter-size: 1em; }

.grid {
  --gutter-size: var(--grid-gutter-size);
  display: flex;
  box-sizing: border-box; }
  .grid > * {
    box-sizing: border-box;
    flex: 1; }
    .grid > *.narrow {
      flex: 0 0 0; }
  .grid.gutter > * {
    padding: var(--gutter-size); }
  .grid.gutter.noframe {
    margin: calc(var(--gutter-size) * -1); }
  .grid.wrap {
    flex-wrap: wrap; }
  .grid.top,
  .grid > .top {
    align-items: flex-start; }
  .grid.bottom,
  .grid > .bottom {
    align-items: flex-end; }
  .grid.center,
  .grid > .center {
    align-items: center; }
  .grid.span-1-12 > *,
  .grid > .span-1-12 {
    flex: 0 0 calc(100% / 12); }
  .grid.span-2-12 > *,
  .grid > .span-2-12 {
    flex: 0 0 calc(200% / 12); }
  .grid.span-3-12 > *,
  .grid > .span-3-12 {
    flex: 0 0 calc(300% / 12); }
  .grid.span-4-12 > *,
  .grid > .span-4-12 {
    flex: 0 0 calc(400% / 12); }
  .grid.span-5-12 > *,
  .grid > .span-5-12 {
    flex: 0 0 calc(500% / 12); }
  .grid.span-6-12 > *,
  .grid > .span-6-12 {
    flex: 0 0 calc(600% / 12); }
  .grid.span-7-12 > *,
  .grid > .span-7-12 {
    flex: 0 0 calc(700% / 12); }
  .grid.span-8-12 > *,
  .grid > .span-8-12 {
    flex: 0 0 calc(800% / 12); }
  .grid.span-9-12 > *,
  .grid > .span-9-12 {
    flex: 0 0 calc(900% / 12); }
  .grid.span-10-12 > *,
  .grid > .span-10-12 {
    flex: 0 0 calc(1000% / 12); }
  .grid.span-11-12 > *,
  .grid > .span-11-12 {
    flex: 0 0 calc(1100% / 12); }
  .grid.span-12-12 > *,
  .grid > .span-12-12 {
    flex: 0 0 calc(1200% / 12); }

@media (max-width: 768px) {
  .grid {
    --gutter-size: var(--grid-gutter-size);
    display: flex;
    box-sizing: border-box; }
    .grid > * {
      box-sizing: border-box;
      flex: 1; }
      .grid > *.narrow\@small {
        flex: 0 0 0; }
    .grid.gutter\@small > * {
      padding: var(--gutter-size); }
    .grid.gutter\@small.noframe\@small {
      margin: calc(var(--gutter-size) * -1); }
    .grid.wrap\@small {
      flex-wrap: wrap; }
    .grid.top\@small,
    .grid > .top\@small {
      align-items: flex-start; }
    .grid.bottom\@small,
    .grid > .bottom\@small {
      align-items: flex-end; }
    .grid.center\@small,
    .grid > .center\@small {
      align-items: center; }
    .grid.span-1-12\@small > *,
    .grid > .span-1-12\@small {
      flex: 0 0 calc(100% / 12); }
    .grid.span-2-12\@small > *,
    .grid > .span-2-12\@small {
      flex: 0 0 calc(200% / 12); }
    .grid.span-3-12\@small > *,
    .grid > .span-3-12\@small {
      flex: 0 0 calc(300% / 12); }
    .grid.span-4-12\@small > *,
    .grid > .span-4-12\@small {
      flex: 0 0 calc(400% / 12); }
    .grid.span-5-12\@small > *,
    .grid > .span-5-12\@small {
      flex: 0 0 calc(500% / 12); }
    .grid.span-6-12\@small > *,
    .grid > .span-6-12\@small {
      flex: 0 0 calc(600% / 12); }
    .grid.span-7-12\@small > *,
    .grid > .span-7-12\@small {
      flex: 0 0 calc(700% / 12); }
    .grid.span-8-12\@small > *,
    .grid > .span-8-12\@small {
      flex: 0 0 calc(800% / 12); }
    .grid.span-9-12\@small > *,
    .grid > .span-9-12\@small {
      flex: 0 0 calc(900% / 12); }
    .grid.span-10-12\@small > *,
    .grid > .span-10-12\@small {
      flex: 0 0 calc(1000% / 12); }
    .grid.span-11-12\@small > *,
    .grid > .span-11-12\@small {
      flex: 0 0 calc(1100% / 12); }
    .grid.span-12-12\@small > *,
    .grid > .span-12-12\@small {
      flex: 0 0 calc(1200% / 12); } }

@media (max-width: 1024px) {
  .grid {
    --gutter-size: var(--grid-gutter-size);
    display: flex;
    box-sizing: border-box; }
    .grid > * {
      box-sizing: border-box;
      flex: 1; }
      .grid > *.narrow\@medium {
        flex: 0 0 0; }
    .grid.gutter\@medium > * {
      padding: var(--gutter-size); }
    .grid.gutter\@medium.noframe\@medium {
      margin: calc(var(--gutter-size) * -1); }
    .grid.wrap\@medium {
      flex-wrap: wrap; }
    .grid.top\@medium,
    .grid > .top\@medium {
      align-items: flex-start; }
    .grid.bottom\@medium,
    .grid > .bottom\@medium {
      align-items: flex-end; }
    .grid.center\@medium,
    .grid > .center\@medium {
      align-items: center; }
    .grid.span-1-12\@medium > *,
    .grid > .span-1-12\@medium {
      flex: 0 0 calc(100% / 12); }
    .grid.span-2-12\@medium > *,
    .grid > .span-2-12\@medium {
      flex: 0 0 calc(200% / 12); }
    .grid.span-3-12\@medium > *,
    .grid > .span-3-12\@medium {
      flex: 0 0 calc(300% / 12); }
    .grid.span-4-12\@medium > *,
    .grid > .span-4-12\@medium {
      flex: 0 0 calc(400% / 12); }
    .grid.span-5-12\@medium > *,
    .grid > .span-5-12\@medium {
      flex: 0 0 calc(500% / 12); }
    .grid.span-6-12\@medium > *,
    .grid > .span-6-12\@medium {
      flex: 0 0 calc(600% / 12); }
    .grid.span-7-12\@medium > *,
    .grid > .span-7-12\@medium {
      flex: 0 0 calc(700% / 12); }
    .grid.span-8-12\@medium > *,
    .grid > .span-8-12\@medium {
      flex: 0 0 calc(800% / 12); }
    .grid.span-9-12\@medium > *,
    .grid > .span-9-12\@medium {
      flex: 0 0 calc(900% / 12); }
    .grid.span-10-12\@medium > *,
    .grid > .span-10-12\@medium {
      flex: 0 0 calc(1000% / 12); }
    .grid.span-11-12\@medium > *,
    .grid > .span-11-12\@medium {
      flex: 0 0 calc(1100% / 12); }
    .grid.span-12-12\@medium > *,
    .grid > .span-12-12\@medium {
      flex: 0 0 calc(1200% / 12); } }

@media (max-width: 1280px) {
  .grid {
    --gutter-size: var(--grid-gutter-size);
    display: flex;
    box-sizing: border-box; }
    .grid > * {
      box-sizing: border-box;
      flex: 1; }
      .grid > *.narrow\@large {
        flex: 0 0 0; }
    .grid.gutter\@large > * {
      padding: var(--gutter-size); }
    .grid.gutter\@large.noframe\@large {
      margin: calc(var(--gutter-size) * -1); }
    .grid.wrap\@large {
      flex-wrap: wrap; }
    .grid.top\@large,
    .grid > .top\@large {
      align-items: flex-start; }
    .grid.bottom\@large,
    .grid > .bottom\@large {
      align-items: flex-end; }
    .grid.center\@large,
    .grid > .center\@large {
      align-items: center; }
    .grid.span-1-12\@large > *,
    .grid > .span-1-12\@large {
      flex: 0 0 calc(100% / 12); }
    .grid.span-2-12\@large > *,
    .grid > .span-2-12\@large {
      flex: 0 0 calc(200% / 12); }
    .grid.span-3-12\@large > *,
    .grid > .span-3-12\@large {
      flex: 0 0 calc(300% / 12); }
    .grid.span-4-12\@large > *,
    .grid > .span-4-12\@large {
      flex: 0 0 calc(400% / 12); }
    .grid.span-5-12\@large > *,
    .grid > .span-5-12\@large {
      flex: 0 0 calc(500% / 12); }
    .grid.span-6-12\@large > *,
    .grid > .span-6-12\@large {
      flex: 0 0 calc(600% / 12); }
    .grid.span-7-12\@large > *,
    .grid > .span-7-12\@large {
      flex: 0 0 calc(700% / 12); }
    .grid.span-8-12\@large > *,
    .grid > .span-8-12\@large {
      flex: 0 0 calc(800% / 12); }
    .grid.span-9-12\@large > *,
    .grid > .span-9-12\@large {
      flex: 0 0 calc(900% / 12); }
    .grid.span-10-12\@large > *,
    .grid > .span-10-12\@large {
      flex: 0 0 calc(1000% / 12); }
    .grid.span-11-12\@large > *,
    .grid > .span-11-12\@large {
      flex: 0 0 calc(1100% / 12); }
    .grid.span-12-12\@large > *,
    .grid > .span-12-12\@large {
      flex: 0 0 calc(1200% / 12); } }

@media (max-width: 1600px) {
  .grid {
    --gutter-size: var(--grid-gutter-size);
    display: flex;
    box-sizing: border-box; }
    .grid > * {
      box-sizing: border-box;
      flex: 1; }
      .grid > *.narrow\@xlarge {
        flex: 0 0 0; }
    .grid.gutter\@xlarge > * {
      padding: var(--gutter-size); }
    .grid.gutter\@xlarge.noframe\@xlarge {
      margin: calc(var(--gutter-size) * -1); }
    .grid.wrap\@xlarge {
      flex-wrap: wrap; }
    .grid.top\@xlarge,
    .grid > .top\@xlarge {
      align-items: flex-start; }
    .grid.bottom\@xlarge,
    .grid > .bottom\@xlarge {
      align-items: flex-end; }
    .grid.center\@xlarge,
    .grid > .center\@xlarge {
      align-items: center; }
    .grid.span-1-12\@xlarge > *,
    .grid > .span-1-12\@xlarge {
      flex: 0 0 calc(100% / 12); }
    .grid.span-2-12\@xlarge > *,
    .grid > .span-2-12\@xlarge {
      flex: 0 0 calc(200% / 12); }
    .grid.span-3-12\@xlarge > *,
    .grid > .span-3-12\@xlarge {
      flex: 0 0 calc(300% / 12); }
    .grid.span-4-12\@xlarge > *,
    .grid > .span-4-12\@xlarge {
      flex: 0 0 calc(400% / 12); }
    .grid.span-5-12\@xlarge > *,
    .grid > .span-5-12\@xlarge {
      flex: 0 0 calc(500% / 12); }
    .grid.span-6-12\@xlarge > *,
    .grid > .span-6-12\@xlarge {
      flex: 0 0 calc(600% / 12); }
    .grid.span-7-12\@xlarge > *,
    .grid > .span-7-12\@xlarge {
      flex: 0 0 calc(700% / 12); }
    .grid.span-8-12\@xlarge > *,
    .grid > .span-8-12\@xlarge {
      flex: 0 0 calc(800% / 12); }
    .grid.span-9-12\@xlarge > *,
    .grid > .span-9-12\@xlarge {
      flex: 0 0 calc(900% / 12); }
    .grid.span-10-12\@xlarge > *,
    .grid > .span-10-12\@xlarge {
      flex: 0 0 calc(1000% / 12); }
    .grid.span-11-12\@xlarge > *,
    .grid > .span-11-12\@xlarge {
      flex: 0 0 calc(1100% / 12); }
    .grid.span-12-12\@xlarge > *,
    .grid > .span-12-12\@xlarge {
      flex: 0 0 calc(1200% / 12); } }
