.h6 {
  font-size: var(--h6-font-size, 0.75em);
  font-weight: var(--h6-font-weight, bold);
  text-decoration: var(--h6-text-decoration, none);
  line-height: var(--h6-line-height, 1.45);
  text-transform: var(--h6-text-transform, none); }
  .h6 + p {
    margin-top: var(--h6-paragraph-margin, 0.5em); }

.h5 {
  font-size: var(--h5-font-size, 1em);
  font-weight: var(--h5-font-weight, bold);
  text-decoration: var(--h5-text-decoration, none);
  line-height: var(--h5-line-height, 1.45);
  text-transform: var(--h5-text-transform, none); }
  .h5 + p {
    margin-top: var(--h5-paragraph-margin, 0.5em); }

.h4 {
  font-size: var(--h4-font-size, 1.33333em);
  font-weight: var(--h4-font-weight, bold);
  text-decoration: var(--h4-text-decoration, none);
  line-height: var(--h4-line-height, 1.45);
  text-transform: var(--h4-text-transform, none); }
  .h4 + p {
    margin-top: var(--h4-paragraph-margin, 0.5em); }

.h3 {
  font-size: var(--h3-font-size, 1.77778em);
  font-weight: var(--h3-font-weight, bold);
  text-decoration: var(--h3-text-decoration, none);
  line-height: var(--h3-line-height, 1.45);
  text-transform: var(--h3-text-transform, none); }
  .h3 + p {
    margin-top: var(--h3-paragraph-margin, 0.5em); }

.h2 {
  font-size: var(--h2-font-size, 2.37037em);
  font-weight: var(--h2-font-weight, bold);
  text-decoration: var(--h2-text-decoration, none);
  line-height: var(--h2-line-height, 1.45);
  text-transform: var(--h2-text-transform, none); }
  .h2 + p {
    margin-top: var(--h2-paragraph-margin, 0.5em); }

.h1 {
  font-size: var(--h1-font-size, 3.16049em);
  font-weight: var(--h1-font-weight, bold);
  text-decoration: var(--h1-text-decoration, none);
  line-height: var(--h1-line-height, 1.45);
  text-transform: var(--h1-text-transform, none); }
  .h1 + p {
    margin-top: var(--h1-paragraph-margin, 0.5em); }
