img.responsive {
  display: block;
  width: 100%;
  max-width: 100%; }

.clip {
  overflow: hidden; }

.block {
  display: block; }

.flex {
  display: flex; }

.none {
  display: none; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.underline {
  text-decoration: underline; }

.tracked {
  letter-spacing: .1em; }

.tracked-tight {
  letter-spacing: .05em; }

.tracked-wide {
  letter-spacing: .25em; }

@media (max-width: 768px) {
  img.responsive\@small {
    display: block;
    width: 100%;
    max-width: 100%; }
  .clip\@small {
    overflow: hidden; }
  .block\@small {
    display: block; }
  .flex\@small {
    display: flex; }
  .none\@small {
    display: none; }
  .relative\@small {
    position: relative; }
  .absolute\@small {
    position: absolute; }
  .uppercase\@small {
    text-transform: uppercase; }
  .lowercase\@small {
    text-transform: lowercase; }
  .underline\@small {
    text-decoration: underline; }
  .tracked\@small {
    letter-spacing: .1em; }
  .tracked-tight\@small {
    letter-spacing: .05em; }
  .tracked-wide\@small {
    letter-spacing: .25em; } }

@media (max-width: 1024px) {
  img.responsive\@medium {
    display: block;
    width: 100%;
    max-width: 100%; }
  .clip\@medium {
    overflow: hidden; }
  .block\@medium {
    display: block; }
  .flex\@medium {
    display: flex; }
  .none\@medium {
    display: none; }
  .relative\@medium {
    position: relative; }
  .absolute\@medium {
    position: absolute; }
  .uppercase\@medium {
    text-transform: uppercase; }
  .lowercase\@medium {
    text-transform: lowercase; }
  .underline\@medium {
    text-decoration: underline; }
  .tracked\@medium {
    letter-spacing: .1em; }
  .tracked-tight\@medium {
    letter-spacing: .05em; }
  .tracked-wide\@medium {
    letter-spacing: .25em; } }

@media (max-width: 1280px) {
  img.responsive\@large {
    display: block;
    width: 100%;
    max-width: 100%; }
  .clip\@large {
    overflow: hidden; }
  .block\@large {
    display: block; }
  .flex\@large {
    display: flex; }
  .none\@large {
    display: none; }
  .relative\@large {
    position: relative; }
  .absolute\@large {
    position: absolute; }
  .uppercase\@large {
    text-transform: uppercase; }
  .lowercase\@large {
    text-transform: lowercase; }
  .underline\@large {
    text-decoration: underline; }
  .tracked\@large {
    letter-spacing: .1em; }
  .tracked-tight\@large {
    letter-spacing: .05em; }
  .tracked-wide\@large {
    letter-spacing: .25em; } }

@media (max-width: 1600px) {
  img.responsive\@xlarge {
    display: block;
    width: 100%;
    max-width: 100%; }
  .clip\@xlarge {
    overflow: hidden; }
  .block\@xlarge {
    display: block; }
  .flex\@xlarge {
    display: flex; }
  .none\@xlarge {
    display: none; }
  .relative\@xlarge {
    position: relative; }
  .absolute\@xlarge {
    position: absolute; }
  .uppercase\@xlarge {
    text-transform: uppercase; }
  .lowercase\@xlarge {
    text-transform: lowercase; }
  .underline\@xlarge {
    text-decoration: underline; }
  .tracked\@xlarge {
    letter-spacing: .1em; }
  .tracked-tight\@xlarge {
    letter-spacing: .05em; }
  .tracked-wide\@xlarge {
    letter-spacing: .25em; } }
