.link, .content a {
  --color: hotpink;
  --hover-color: #ff1d8e;
  --text-decoration: none;
  --hover-text-decoration: underline;
  color: var(--color);
  text-decoration: var(--text-decoration);
  transition: color 0.3s;
  cursor: pointer; }
  .link:hover, .content a:hover {
    color: var(--hover-color);
    text-decoration: var(--hover-text-decoration); }
