.nav {
  display: flex;
  list-style: none; }
  .nav .nav-item, .nav li {
    display: flex;
    position: relative; }
    .nav .nav-item a:hover + .nav, .nav li a:hover + .nav {
      display: block;
      background: yellow; }
    .nav .nav-item a:hover + ul, .nav li a:hover + ul {
      display: block;
      background: yellow; }
  .nav a {
    padding: 1em;
    cursor: pointer;
    white-space: nowrap; }
    .nav a:hover {
      background-color: hotpink; }
  .nav .nav, .nav ul {
    display: none;
    position: absolute;
    background: blue;
    z-index: 10; }
