.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }

.dim {
  opacity: 0.5; }

.flip-x {
  transform: scaleX(-1); }

.flip-y {
  transform: scaleY(-1); }
