/// Map deep get
/// @author Hugo Giraudel
/// @access public
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Key chain
/// @return {*} - Desired value
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function hovercolor($color, $amount) {
  @if(lightness($color) > 50%) {
    @return darken($color, $amount);
  } @else {
    @return lighten($color, $amount);
  }
}

/// media(">desktop")
/// media("tablet", "horizontal")
@mixin media($query) {
  $prefix: str-slice($query, 0, 1);
  @if $prefix == "=" {
    // TODO:Stuff
    $query: str-slice($query, 1);
  } @else if $prefix == ">" {
    // TODO:Stuff
    $query: str-slice($query, 1);
  } @else if $prefix == "<" {
    // TODO:Stuff
    $query: str-slice($query, 1);
  }
  $key: "max-width";
  $value: map-get($breakpoints, $query);
  @if $value == null {
    $value: $query;
  }
  // TODO: min, max
  @media ($key: $value) {
    @content;
  }
}

@mixin breakpoints() {
  @each $x in $breakpoints {
    $breakpoint: nth($x, 1);
    @include media($breakpoint) {
      #{$breakpoint} {
        @content;
      }
    }
  }
}

@function suffix-list($list, $suffix) {
  $result: ();

  @for $i from 1 through length($list) {
    $result: append($result, nth($list, $i) + $suffix, comma);
  }

  @return $result;
}
