
$speed: 0.3s !default;
$hover-effect: 15% !default;
$border-width: 2px !default;
$type-scale: 4 / 3 !default;

$colors: (
  cta: (
    color: white,
    background-color: hotpink
  )
) !default;

$breakpoints: (
  small: 768px,
  medium: 1024px,
  large: 1280px,
  xlarge: 1600px,
) !default;

$breakpoint-delimeter: \@ !default;
