
$headings-font-weight: bold !default;
$headings-text-decoration: none !default;
$headings-line-height: 1.45 !default;
$headings-text-transform: none !default;
$headings-paragraph-margin: 0.5em !default;

@mixin headings($type-scale, $start, $prefix, $bare: false) {
  $fs: $start;
  @for $x from 6 to 0 {
    #{$prefix}#{$x} {
      font-size: var(--h#{$x}-font-size, #{$fs}em);
      font-weight: var(--h#{$x}-font-weight, $headings-font-weight);
      text-decoration: var(--h#{$x}-text-decoration, $headings-text-decoration);
      @if($bare == false) {
        line-height: var(--h#{$x}-line-height, $headings-line-height);
        text-transform: var(--h#{$x}-text-transform, $headings-text-transform);
        & + p {
          margin-top: var(--h#{$x}-paragraph-margin, $headings-paragraph-margin);
        }
      }
    }
    $fs: $fs * $type-scale;
  }
}
