
@mixin helpers($suffix: "") {

  img.responsive#{$suffix} {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .clip#{$suffix} {
    overflow: hidden;
  }

  .block#{$suffix} {
    display: block;
  }

  .flex#{$suffix} {
    display: flex;
  }

  .none#{$suffix} {
    display: none;
  }

  .relative#{$suffix} {
    position: relative;
  }

  .absolute#{$suffix} {
    position: absolute;
  }

  .uppercase#{$suffix} {
    text-transform: uppercase;
  }

  .lowercase#{$suffix} {
    text-transform: lowercase;
  }

  .underline#{$suffix} {
    text-decoration: underline;
  }

  .tracked#{$suffix} {
    letter-spacing: .1em;
  }

  .tracked-tight#{$suffix} {
    letter-spacing: .05em;
  }

  .tracked-wide#{$suffix} {
    letter-spacing: .25em;
  }
}
