@import "../lib/functions";
@import "../lib/globals";

$link-color: hotpink !default;
$link-hover-color: darken(hotpink, $hover-effect) !default; // TODO: effect mixin
$link-text-decoration: none !default;
$link-hover-text-decoration: underline !default;

@mixin link() {
  --color: $link-color;
  --hover-color: $link-hover-color;
  --text-decoration: $link-text-decoration;
  --hover-text-decoration: $link-hover-text-decoration;
  color: var(--color);
  text-decoration: var(--text-decoration);
  transition: color $speed;
  cursor: pointer;
  &:hover {
    color: var(--hover-color);
    text-decoration: var(--hover-text-decoration);
  }
}
