
@mixin nav() {
  display: flex;
  //flex-direction: row;
  list-style: none; // TODO: if ul
}

@mixin nav-item() {
  //background: red;
  display: flex; // TODO: if li
  position: relative;
}

@mixin nav-item-inner() {
  padding: 1em;
}

@mixin nav-item-link() {
  cursor: pointer;
  white-space: nowrap;
}

@mixin nav-item-hover() {
  display: block;
  background: yellow;
}

@mixin nav-sub() {
  display: none;
  position: absolute;
  background: blue;
  z-index: 10;
}
