@import "lib/globals";
@import "lib/functions";

$button-selector: (
  ".button",
  "content button",
  "content input[type=button]",
  "content input[type=submit]",
  "content input[type=reset]",
) !default;
$button-color: white !default;
$button-background-color: black !default;
$button-padding: 0.75em 1em !default;
$button-text-align: center !default;
$button-speed: $speed !default;
$button-hover-effect: $hover-effect !default;
$button-border-color: unset !default;
$button-border-width: $border-width !default;
$button-border-style: solid !default;
$button-enable-inverted: false !default;

$buttons: (
  "": (
    color: $button-color,
    background-color: $button-background-color,
  )
) !default

@each $key, $value in $colors {
  $buttons: map-merge($buttons, (
    #{"."}$key: (
      color: map-deep-get($colors, "cta", "color"),
      background-color: map-deep-get($colors, "cta", "background-color"),
    )
  ))
}

:root {
  --button-padding: $button-padding;
  --button-color: $button-color;
  --button-border-color: $button-border-color;
  --button-background-color: $button-background-color;
  --button-border-width: $button-border-width;
  --button-text-align: $button-text-align;
  --button-border-style: $button-border-style;
}

#{$button-selector} {
  --padding: var(--button-padding);
  --color: var(--button-color);
  --border-color: var(--button-border-color);
  --background-color: var(--button-background-color);
  --border-width: var(--button-border-width);
  --text-align: var(--button-text-align);
  --border-style: var(--button-border-style);

  padding: var(--padding);
  color: var(--color);
  background-color: var(--background-color);

  appearance: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  box-sizing: border-box;
  transition: all $button-speed;
  border-width: var(--border-width);
  border-color: var(--border-color, --background-color);
  border-style: var(--border-style);
  text-align: var(--text-align);

  @each $modifier, $value in $buttons {
    &#{$modifier} {
      $color: map-get($value, "color");
      $background-color: map-get($value, "background-color");
      $hover-background-color: $background-color;
      $hover-background-color: hovercolor($hover-background-color, $button-hover-effect);
      --color: $color;
      --border-color: $background-color;
      --background-color: $background-color;
      &:hover {
        --border-color: $hover-background-color;
        --background-color: $hover-background-color;
      }
      &.border {
        --border-color: $hover-background-color;
      }
      &.transparent {
        --color: invert($color);
      }
      @if($button-enable-inverted) {
        &.inverted {
          --color: invert($color);
          --border-color: invert($background-color);
          --background-color: invert($background-color);
          &:hover {
            --border-color: invert($hover-background-color);
            --background-color: invert($hover-background-color);
          }
          &.border {
            --border-color: invert($hover-background-color);
          }
          &.transparent {
            --color: $color;
          }
        }
      }
    }
  }

  &.transparent {
    --background-color: transparent;
  }

  &.fluid {
    width: 100%;
  }
}

