@import "lib/globals";
@import "mixins/headings";
@import "mixins/link";
@import "mixins/list";

$content-selector: (
  ".content",
) !default;

$content-type-scale: $type-scale !default;

$paragraph-spacing: 0.5em !default;
$paragraph-space-before: 0 !default;
$paragraph-space-after: 0 !default;
$paragraph-space-between: $paragraph-spacing !default;

#{$content-selector} {
  @include headings($content-type-scale, 1.0, "h");

  a {
    @include link();
  }

  p {
    line-height: 1.2;
    & + p {
      margin-top: $paragraph-space-between;
    }
    &:first-of-type(p) {
      margin-top: $paragraph-space-before;
    }
    &:last-of-type(p) {
      margin-bottom: $paragraph-space-before;
    }
  }

  .excerpt {
    font-size: 125%;
  }

  ul {
    @include list();
  }

  // Not sure
  img {
    max-width: 100%;
  }
}
