@import "lib/globals";
@import "lib/functions";

$container-selector: (
  ".container",
) !default;

$container-max-width: 600px !default;

#{$container-selector} {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  &.fullwidth {
    max-width: none;
  }
}
