/**
 * @todo: Remove debug css
 * @todo: Use .grid > * or not?
 * @todo: Default grid: Automatically lower cols in mobile & tablet?
 */

@import "lib/globals";
@import "lib/functions";
//@import "mixins/grid";

$grid-selector: (
  ".grid",
) !default;
$grid-gutter-size: 1em !default;
$grid-columns: (12) !default;
$grid-responsive: true !default;

:root {
  --grid-gutter-size: $grid-gutter-size;
}

@mixin grid($suffix: "") {
  #{$grid-selector} {
    --gutter-size: var(--grid-gutter-size);

    display: flex;
    box-sizing: border-box;

    // Grid-items
    > * {
      box-sizing: border-box;
      flex: 1;
      &.fill#{$suffix} {
      }
      &.narrow#{$suffix} {
        flex: 0 0 0;
      }
    }

    // Gutter
    &.gutter#{$suffix} {
      > * {
        padding: var(--gutter-size);
      }
      &.noframe#{$suffix} {
        margin: calc(var(--gutter-size) * -1);
      }
    }

    // Modifiers
    &.wrap#{$suffix} {
      flex-wrap: wrap;
    }

    // Alignment modifiers
    &.top#{$suffix},
    > .top#{$suffix} {
      align-items: flex-start;
    }
    &.bottom#{$suffix},
    > .bottom#{$suffix} {
      align-items: flex-end;
    }
    &.center#{$suffix},
    > .center#{$suffix} {
      align-items: center;
    }

    // Flex sizes
    // TODO: Child grid sizes?
    @each $g in $grid-columns {
      @for $x from 1 to $g + 1 {
        &.span-#{$x}-#{$g}#{$suffix} > *,
        > .span-#{$x}-#{$g}#{$suffix} {
          flex: 0 0 calc(#{$x * 100%} / #{$g});
        }
      }
    }
  }
}

@include grid();

@if $grid-responsive {
  @each $breakpoint, $_ in $breakpoints {
    @include media($breakpoint) {
      @include grid(#{$breakpoint-delimeter}#{$breakpoint});
    }
  }
}

