@import "lib/globals";
@import "lib/functions";
@import "mixins/helpers";

$helpers-responsive: true !default;

@include helpers();

@if $helpers-responsive {
  @each $breakpoint, $_ in $breakpoints {
    @include media($breakpoint) {
      @include helpers(#{$breakpoint-delimeter}#{$breakpoint});
    }
  }
}
