@import "mixins/nav";

$nav-selector: (
  ".nav"
) !default;

$nav-item-selector: (
  ".nav-item",
  "li"
) !default;

$nav-sub-selector: (
  ".nav",
  "ul"
) !default;

$nav-link-selector: (
  "a"
) !default;

#{$nav-selector} {
  @include nav();

  // Nav items
  #{$nav-item-selector} {
    @include nav-item();
    @each $sub in $nav-sub-selector {
      #{$nav-link-selector}:hover + #{$sub} {
        @include nav-item-hover();
      }
    }
  }

  #{$nav-link-selector} {
    @include nav-item-inner();
    @include nav-item-link();
    &:hover {
      background-color: hotpink;
    }
  }

  // Submenus > .nav .nav
  #{$nav-sub-selector} {
    @include nav-sub();
  }
}
